@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #111;
}

body {
  background: url(assets/images/main-bg.jpg) center no-repeat;
  background-size: cover;
  background: #111;
}
