<div class="image-view-container">
  <div
    class="old-image"
    *ngIf="oldImageUrl"
  ></div>
  <div
    class="image-current"
    [style.background]="imageResource | safe:'style'"
    [@galleryState]="state"
  >
  </div>
  <h1 style="position: fixed; left: 50%; top: 50%">{{loadProgress}}</h1>
</div>
