:host {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.image-view-container {
  width: 100%;
  height: 100%;

  .image-current {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}
